input {
    keyboard {
        xkb {
            layout "us"
            // variant "altgr-intl"
            options "caps:ctrl_modifier"
        }
    }
}
spawn-at-startup "mako"
spawn-at-startup "waybar"
spawn-at-startup "swayidle" "-w" "timeout" "601" "niri msg action power-off-monitors" "timeout" "600" "swaylock -f" "before-sleep" "swaylock -f"

bind "Print" {
    spawn "grim ~/Pictures/screenshot-$(date +'%Y%m%d-%H%M%S').png";
}
bind "Shift+Print" {
    spawn "grim -g \"$(slurp)\" ~/Pictures/screenshot-$(date +'%Y%m%d-%H%M%S').png";
}

environment {
    DISPLAY ":0"
}
spawn-at-startup "xwayland-satellite"