input {
    keyboard {
        xkb {
            layout "us"
            // variant "altgr-intl"
            options "caps:ctrl_modifier"
        }
    }
}

binds {
    "Print" { spawn "grim ~/Pictures/screenshot-$(date +'%Y%m%d-%H%M%S').png"; }
    "Shift+Print" { spawn "grim -g \"$(slurp)\" ~/Pictures/screenshot-$(date +'%Y%m%d-%H%M%S').png"; }

}

spawn-at-startup "mako"
spawn-at-startup "waybar"
spawn-at-startup "swayidle" "-w" "timeout" "601" "niri msg action power-off-monitors" "timeout" "600" "swaylock -f" "before-sleep" "swaylock -f"

environment {
    DISPLAY ":0"
}
spawn-at-startup "xwayland-satellite"